<div>
	<h1>All the Clothes</h1>
	<form>
		<input type="text" ng-model="search">
	</form>
	<div class="row">
		<div class="col-md-4 col-lg-4" ng-repeat=
		"item in items track by $index">
			<div class="item effect-flip">
				<div class="front">
					<img class="clothing-image img-responsive" ng-src="{{item.imageUrl}}">
					
				</div>
				<div class="back">
					<h4 class="text-center">{{item.name}}</h4>
					<p class="text-center">{{item.type}}</p>
					<p class="text-center">{{item.price}}</p>
					<p class="text-center">{{item.quantity}}</p>
					<p class="text-center"><strong>Description:</strong> {{item.description}}</p>
					<button class="btn btn-danger center-block" ng-click="deleteItem(item._id, $index)" ng-show="adminLoggedIn()">Delete Item</button>
					<a ng-href="/clothing/{{item._id}}/edit" ng-show="adminLoggedIn()">Edit Item</a>
				</div>
				
			</div>
		</div>
	</div>
</div>