<div id="clothing-background">
<div class="container">
	<div class="faux-nav"></div>
	<h1 class="text-center">All the Clothes</h1>
	<div class="row">
		<div class="col-xs-offset-3 col-xs-6 col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4 col-lg-offset-4 col-lg-4">
			<form id="searchform">
				<div class="form-group">
					<input class="form-control" type="text" ng-model="search" placeholder="filter search">
				</div>
			</form>

			<!-- Dropdown Menu -->
			<!-- <select ng-model="dropdown" class="center-block" form="searchform">
				<option value="hat">Hats</option>
				<option value="shirt" ng-selected>Shirts</option>
				<option value="sweaters">Sweaters and Warmth</option>
				<option value="dress">Dress Options</option>
			</select> -->
		</div>
	</div>
	<hr>
	<div class="loading center-block" ng-if="dataLoading">
		<h4 class="text-center">Loading...</h4>
	</div>
	<!-- Item Display -->
	<div class="row">
	<!-- "item in items | filter:search | startFrom:currentPage*pageSize | limitTo:pageSize track by $index" -->
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" ng-repeat=
		"item in items | filter:search  track by $index">
			<div class="item effect-flip col-md-12 col-lg-12">
				<div class="front">
					<img ng-show="{{item.quantity > 0}}" class="clothing-image img img-responsive" ng-src="{{item.imageUrl}}">
					<div class="out-of-stock" ng-hide="{{item.quantity > 0}}"></div>
					
				</div>
				<div class="back">
					
						<h4 class="text-center">{{item.name}}</h4>
						<p class="text-center">{{item.type}}</p>
						<p class="text-center">${{item.price}}</p>		
						<p class="text-center"><strong>
							Description:</strong> {{item.description}}</p>
						<button ng-controller="CartCtrl" ng-disabled="{{item.quantity}}==0" class="btn btn-success center-block" ng-click="addToCart(item._id)">Add to Cart 
							<i class="fa fa-opencart fa-lg"></i>
							</button>
					

					<!-- Admin only -->
					<div ng-show="adminLoggedIn()">
						<hr>
						<h6 class="text-center">Admin Only:</h6>
						<p class="text-center">Quantity Left: {{item.quantity}}</p>
						<button class="btn btn-default center-block" ng-click="editItem(item._id)">Edit Item</button>
						
						<button class="btn btn-danger center-block" ng-click="deleteItem(item._id, $index)">Delete Item</button>
					</div>
				</div>
				
			</div>
		</div>
	</div>

	<!-- Pagination Controls -->
	<!-- <div class="center-block text-center">
		<button ng-disabled="currentPage == 1" ng-click="currentPage=currentPage-1" class="pagination"><<</button>
		<p class="pagination">
			<code ng-show="currentPage > 1" class="pagination">{{currentPage-1}}</code>
			<code class="pagination middle">{{currentPage}}</code>
			<code ng-hide="numberOfPages() < currentPage+2" class="pagination">{{currentPage+1}}</code>
			<code ng-show="numberOfPages() < currentPage+2" class="pagination">*</code>
			<code ng-hide="currentPage > 1" class="pagination">{{currentPage+2}}</code>
		</p>
		<button ng-disabled="currentPage >= items.length/pageSize - 1" ng-click="currentPage=currentPage+1" class="pagination">>></button>
	</div> -->
	<hr>

</div>
</div>