/* Navbar */
.faux-nav{
	height: 100px;
}
#logo{
	width: 20%;
}


.navbar{
	z-index: 100;
	background: #1e5799;
	background: -moz-linear-gradient(left top,  #1e5799 0%, #00ddff 100%); 
	background: -webkit-linear-gradient(left top,  #1e5799 0%,#00ddff 100%);
	background: linear-gradient(to bottom right,  #1e5799 0%,#00ddff 100%); 
	background-color: #00ddff;
	border-bottom: none;
	border-left: none;
	border-right: none;
	border-top: none;
	border-radius: 0px;
	margin: 0;
}

#nav-shop, #nav-admin, #nav-cart{
	color: black;
}
#nav-shop:hover, #nav-admin:hover, #nav-cart:hover{
	color: white;
}
.navbar-fixed-top .navbar-brand {
    padding: 0 15px;
}