#intro { 
    background: url(../images/pattern.jpg) 50% 0 fixed; 
    height: 600px;  
    width: 100%; 
    position: relative; 
}

#browse-button{
    margin: 0 auto;
    position: relative;
    top: 220px;
    background-color: rgba(150,150,150,0.5);
    color: white;
    border: 1px solid white;
    outline: none;
}
#browse-button:hover{
    color: black;
    border: 1px solid black;
}
#home-info{
    padding-top: 100px;
    margin-top: 0px;
}

#home { 
    background-color: white;
    height: 400px;  
    width: 100%; 
    position: relative; 
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
}
#pic1{
    width: 100px;
    position: relative;
    background: url(../images/hats.jpg);
}
#about { 
    background: url(../images/mahalo_logo.png) 50% 0 fixed; 
    background-color: black;
    height: 600px;
   /* margin: 0 auto;*/ 
    width: 100%; 
    position: relative; 
    /*box-shadow: 0 0 50px rgba(0,0,0,0.8); *//*rgba(0, 221, 255, 0.8);rgba(30, 87, 153, 1)*/
    color: #fff;
}